* {
    padding: 0;
    margin: 0;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border: 2px #000 bold;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 2rem;
    background-color: var(--sib-color_surface-hover-background);
}
.itemName{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.subHeading{
    padding: 2px;
    height: 40%;
}
.price{
    height: 30%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crossIcon{
    padding: 1px 1px 2px 2px;
    position: absolute;
    top: -5px;
    right: -1px;
    cursor: pointer;
    color:  var(--sib-color_negative-hover);
    background-color: var(--sib-color_surface-grey-background);
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    transition: all 250ms ease-in-out;
}
.iconStyle{
    width: 18px;
    height: 18px;
    transition: all 300ms ease-in-out;
}
.crossIcon:hover{
    color: var(--sib-color_negative-default);
    width: 25px;
    height: 25px;
    padding: 1px 1px 3px 3px;
}
.crossIcon:hover .iconStyle{
    height: 22px;
    width: 22px;
    transform: rotate(90deg);
}