.showForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  width: 100%;
}
.searchInput{
  border-radius: 0.5rem;
}
.sib-btn.sib-btn_icon-stand-alone {
  position: absolute;
}