.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.submitBtn{
    width: 5rem;
}
.formItem{
    padding: 1rem;
}
.formHeading{
    padding: 1rem;
}