.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--sib-color_surface-grey-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}
